<div class="splitcontentleft">
  <div class="box">
    <h3><%= full_name(@bio)%></h3>
    <% if @bio.image_file_name %>
      <p><%= image_tag(@bio.image.url(:large)) %></p>
    <% end %>
    <p><%= @bio.profile %></p>
    <p><strong>Position: </strong><%= @bio.position %></p>
    <p><strong>Room number: </strong><%= @bio.room %></p>
    <p><strong>Email: </strong><%= @bio.user.mail %></p>
    <p><strong>Desk phone: </strong><%= @bio.phone %></p>
    <p><strong>Mobile phone: </strong><%= @bio.mobile_phone %></p>
    <p><strong>Groups: </strong><%= showing_user_groups(@bio) %></p>
  </div>
</div>
