<div class="splitcontentleft">
  <div class="bios box">
    <h3><%=l(:label_bio)%></h3>
    <ul>
        <div class="profile_picture", style="float: left; margin: 10px;" >
          <p><%= link_to image_tag(@bio.image.url(:large)), @bio.image.url %></p>
        </div>
          <p><%= @bio.profile %></p>
          <p><strong>Position: </strong><%= @bio.position %></p>
          <p><strong>Email: </strong><%= @bio.user.mail %></p>
          <p><strong>Room number: </strong><%= @bio.room %></p>
          <p><strong>Desk phone: </strong><%= @bio.phone %></p>
          <p><strong>Mobile phone: </strong><%= @bio.mobile_phone %></p>
      </ul>
    </div>
  </div>
