</fieldset>
<fieldset class="box tabular">
<legend><%=l(:label_bio)%></legend>
<%= labelled_form_for Bio.new,
                     :url => { :action => "account" },
                     :html => { :id => 'my_account_form',
                                :method => :post } do |f| %>
  <p><%= f.text_area :profile %></p>
  <p><%= f.file_field :image %>
  <p><%= f.text_field :position %></p>
  <p><%= f.text_field :room %></p>
  <p><%= f.text_field :phone, :placeholder => "(+48) 22 xxx xx xx" %></p>
  <p><%= f.text_field :mobile_phone, :placeholder => "(+48) xxx xxx xxx"  %></p>
  <p><%= f.submit l(:button_save) %></p>
<% end %>
