<% if User.current.admin? || User.current.has_access? %>

</fieldset>

<fieldset class="box tabular">
  <legend><%=l(:label_bio)%></legend>
  <% bio = user.bio || Bio.new(user: user) %>
  <%= form.fields_for bio, remote: true do |f| %>
    <%= f.text_area :profile,
                          :rows => 8,
                          :accesskey => accesskey(:edit),
                          :class => 'wiki-edit',
                          :no_label => true %>
    <%= wikitoolbar_for 'user_bio_profile' %>
    <p><%= f.file_field :image %>
    <% if bio.image_file_name %>
      <p><%= image_tag(bio.image.url(:small)) %></p>
      <p><%= f.check_box("remove_image", options={}, checked_value="1", unchecked_value="0") %>
    <% end %>
    <p><%= f.text_field :position %></p>
    <p><%= f.text_field :room %></p>
    <p><%= f.text_field :phone, :placeholder => "(+48) 22 xxx xx xx" %></p>
    <p><%= f.text_field :mobile_phone, :placeholder => "(+48) xxx xxx xxx"  %></p>
  <% end %>

<% end %>
